<h1>
    <ol>
        <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, dolorem?
        </li>
        <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, dolorem?
        </li>
        <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, dolorem?
        </li>
        <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, dolorem?
        </li>
    </ol>
</h1>